<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
     providerName="System.Data.SqlClient" />
    <add name="capp_chronicleonline_com_auConnectionString1" connectionString="User Id=mycapp1001;server=MYSQL-5.chronicleonline.com.au;password=AdgUVvld;Persist Security Info=True;database=capp_chronicleonline_com_au"
     providerName="MySql.Data.MySqlClient" />
    <add name="capp_chronicleonline_com_auConnectionString" connectionString="server=MYSQL-5.chronicleonline.com.au;User Id=mycapp1001;password=AdgUVvld;database=capp_chronicleonline_com_au;Persist Security Info=True"
     providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>